.hero {
    height: 80vh;
    background-color: black;
}

.heroImage {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.cardImage {
    height: 200px;
}

.coatOfArm {
    height: 100px;
    width: 100px;
}